{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
     <section class="blog-wrapper sect-pt4" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="post-box">
              <div class="post-thumb">
                <img src="assets/img/post-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="post-meta">
                <h1 class="article-title">Lorem ipsum dolor sit amet consec tetur adipisicing</h1>
                <ul>
                  <li>
                    <span class="ion-ios-person"></span>
                    <a href="#">Jason London</a>
                  </li>
                  <li>
                    <span class="ion-pricetag"></span>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <span class="ion-chatbox"></span>
                    <a href="#">14</a>
                  </li>
                </ul>
              </div>
              <div class="article-content">

                  {{ }}

                <p>
                  Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Mauris blandit
                  aliquet elit, eget tincidunt
                  nibh pulvinar a. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Donec sollicitudin molestie malesuada.
                </p>
              </div>
            </div>



          </div>

        </div>
      </div>
    </section><!-- End Blog Single Section -->


{% endblock %}